*{
    margin: 0;
    padding: 0

}
.fundo {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(155,98,201,1) 12%, rgba(132,39,187,1) 44%, rgba(91,255,249,1) 100%);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background: radial-gradient(circle, rgba(65,38,77,1) 23%, rgba(0,0,0,1) 69%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;

}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: purple ;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px;
    color: azure;
}
.botao:hover{
    background-color: rgb(255, 0, 255);
}
#igual{
    height: 106px;
}
#zero{
    width: 106px;
}
#resultado{
    width: 230px;
    height: 30px;
    font-size: 25px;
    background-color: rgb(173, 42, 173);
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px;
    color: azure;
    text-align: right;
    padding: 5px;
} 